<li>
  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle"
       href="#" role="button"
       id="dropdownMenuLink"
       data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
      Dropdown link
    </a>
    <ul
      {% for post in site.posts %}
        <li class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="{{ post.permalink }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</li>

