<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body id="page-top" class="index">
    <div class="container">
      <div class="row">
      {% include navbar.html %}
      </div>
      <div class="row">
      <!--{% include header.html %}-->
      {% include content.html %}
      {% include footer.html %}
      </div>
    </div>
    {% include google_analytics.html %}
    {% include bootstrap_scripts.html %}
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
